body {
  margin: 0;
  background-color: #000;
}

button {
  padding: 5px 8px;
  background: #eee;
  border: 1px solid #909090;
  border-radius: 4px;
  cursor: pointer;
}

input {
  width: 240px;
}

svg, input {
  display: block;
}

path {
  fill: #2c3e50;
  stroke: #000;
  transition: 0.2s;
}

.active {
  background: #34495e;
  border-color: #d98c00;
  color: #fff;
  fill: #34495e;
}

#fixed-top-right {
  position: fixed;
  visibility: hidden;
  top: 1em;
  right: 20em;
}

#fixed-top-left {
  position: fixed;
  top: 1em;
  left: 1em;
}

h1, h2 {
  text-shadow:10px 10px 10px
  rgba(0,0,0,1);
  font-weight:normal;
  color:#FFFFFF;
  text-align:left;
  font-family:tahoma, verdana, arial, sans-serif;
  line-height:.1;
}

h1 {
  font-size:100px;
}

h2 {
  font-size:50px;
}